.myHeader {
    background-color: #ffffff;
    

    .logo {
        width: 120px;
    }

    button {

        &:hover {
            color: var(--brownish)
        }
    }

    .icon {
        transition: color 0.3s ease;
        cursor: pointer;
        color: black;

        &:hover {
            color: var(--brownish);
            cursor: pointer;

        }
    }

    .activeLink {
        background-color: var(--darkgreen);
        border-radius: 1rem;
        padding: 1rem;
        color: var(--offwhite);

    }

    .link {

        padding: 1rem;
        transition: ease all 400ms;
        cursor: pointer;

        &:hover {
            background-color: var(--darkgreen);
            border-radius: 1rem;
            color:var(--offwhite
            )
        }
    }
}