.myHeader {
    background-color: #ffffff;
.logo{
    width: 120px;
}
    button {

        &:hover {
            color: var(--brownish)
        }
    }

    .icon {
        transition: color 0.3s ease;
        cursor: pointer;
        color: black;

        &:hover {
            color: var(--brownish);
            cursor: pointer;

        }
    }
}