@import "tailwindcss";
@plugin "daisyui";

@font-face {
  /* font-family: Glory;
  src: url(./assets/fonts/Gilroy-Regular.ttf);
  font-family: Inter;
  src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf); */
  font-family: Roboto;
  src: url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf);

}

:root {
  --brownish: #b6713e;
  --offwhite: #ecdec1;
  --greenish: #8dc208;
  --darkgreen: #2e4101;
  --black: #1c1c1c;
  --white: #fcf7ee;
  --light: #d4d3cb;
}
